body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-size: 0.9em;
  font-family: sans-serif;
  padding: 1em;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0 0 1em 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

li {
  margin: 0 0 0.5em 0;
}

ul, ol {
  margin: 0 0 1em 2em;
}

table {
  border: none;
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

tr:nth-child(2n) {
  background: #f6f6f6;
}

td {
  padding: 0.2em 0.5em;
}

label {
  clear: left;
  float: left;
  margin: 0 0.5em 0 0;
  text-align: right;
  width: 100px;
}

input, textarea, select, .form-group {
  float: left;
  margin: 0 0 1em 0;
  width: 80%;
}

.form-group > input, .form-group > select {
  float: none;
  margin: 0;
}

select, .medium-field {
  width: 30%;
}

.huge-field { 
  font-size: 2em;
  width: 5em;
}

input[type="submit"] {
  clear: both;
  width: auto;
}

.row {
  clear: both;
  overflow: hidden;
}

.half {
  float: left;
  width: 50%;
}

.third {
  float: left;
  width: 32%;
}

.third > input {
  width: 50%;
}

.alert {  
  border: 1px dotted #f00;
  margin: 1em;
  padding: 1em;
}